---
title: Iva Hujerová - PPC specialista, analytika, marketingové strategie
description: Specializuji se na online marketing pro malé a střední firmy. Věnuji se PPC kampaním, analytice a SEO. Nabízím nastavení kampaní, audit i školení.
---
<!DOCTYPE html>
<html lang="cs">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ title }} | IvaHu.cz</title>
        <meta name="description" content="{{ description }}">
        <meta property="og:url" content="{{ baseUrl }}{{ page.url }}"/>
        <meta property="og:title" content="{{ title }} | IvaHu.cz"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:image" content="{{ baseUrl }}/assets/fb-share.png"/>
        <meta property="og:locale" content="cs_CZ"/>

        <meta name="seznam-wmt" content="Rl7tcnbuj2zwK1YfRfEJF22BEbc4i0Cm" />

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NKFND3G');</script>
        <!-- End Google Tag Manager -->

        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <style>
            .menu {
                padding-left: 0;
            }

            .menu h1 {
                font-size: 3em;
                font-weight: normal;
            }

            @media (max-width: 568px) {
                .menu-wrapper, .menu-wrapper-outer {
                    padding-right: 0px;
                }

                .menu h1 {
                    font-size: 2.2em;
                    margin-right: 0.5rem;
                }
            }

            @media (max-width: 320px) {
                .menu-wrapper, .menu-wrapper-outer {
                    padding-right: 0px;
                }
                .menu h1 {
                    font-size: 1.8em;
                    margin-right: 0.5rem;
                }
            }

            body, .menu a {
                color: #373737;
            }

            .menu h1 a:hover {
                text-decoration: none;
            }

            .menu ul li a {
                font-size: 1.5em;
            }

            .menu ul li a:hover {
                text-decoration: underline;
            }

            .menu ul li.active {
                font-weight: bold;
            }

            @media (min-width: 992px) {
                .menu ul li:first-of-type.active {
                    font-weight: normal;
                }
            }

            #navbar-toggle-cbox {
                display:none
            }
            #navbar-toggle-cbox:checked ~ .collapse {
                display: block;
            }

            .hero-banner {
                background-color: rgba(218, 233, 255, 0.82);
            }

            .hero-banner img {
                max-width: 100%;
                max-height: 350px;
            }

            .hero-banner .hero-claim {
                font-size: 1.5em;
            }

            .btn-primary {
                font-weight: 500;
                background-color: #2F80ED;
            }

            .hero-banner .btn-primary {
                font-weight: 500;
                font-size: 1.5em;
                background-color: #2F80ED;
                padding: 0.7em 1.3em;
            }

            .btn-primary:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }

            h1 {
                font-weight: bold;
            }

            h2 {
                font-size: 2.1em;
                font-weight: 700;
                margin-top: 1em;
                margin-bottom: 0.5em;
            }
            .hero-banner h2 {
                margin-top: 0;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            h4 {
                font-size: 1.2rem;
            }

            /* homepage */
            .opportunity-block-wrapper, .partnership-block-wrapper {
                padding: 1em;
            }

            .opportunity-block, .partnership-block {
                box-shadow: 2px 4px 5px 3px rgb(0 123 255 / 10%);
                width: 100%;
                height: 100%;
                padding: 2em;
            }

            svg {
                width: 100%;
                height: auto;
            }

            .opportunity-block .icon svg {
                height: 3em;
                margin-bottom: 1em;
                fill: #8CBAFF;
            }

            ul.bullets-list {
                margin-top: 1em;
                list-style: none;
            }

            ul.bullets-list li {
                position: relative;
                margin-bottom: 0.4em;
            }

            ul.bullets-list li::before {
                content: "";
                position: absolute;
                left: -24px;
                top: 9px;
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 2px solid #2F80ED;
                border-radius: 50%;
            }

            .main-content {
                min-height: 25em;
            }

            .main-content img {
                max-width: 100%;
            }

            footer {
                padding: 3em;
                margin-top: 3em;
                font-size: 90%;
            }

            footer h4 {
                font-size: 1.2rem;
            }

            footer ul {
                list-style: none;
                padding-left: 0;
            }

            footer ul li {
                line-height: 2em;
            }

            .blogposts .blogpost-title-link {
                font-weight: bold;
            }
            .blogposts p {
                font-size: 90%;
            }

            .main-content.o-mne h3 {
                border-bottom: 2px solid #2F80ED;
                font-weight: bold;
                margin-top: 1.1em;
                padding-bottom: 0.3em;
            }

            .main-content.o-mne h4 {
                margin-top: 1em;
            }

            .main-content.o-mne .bullets-list {
                margin-top: 0;
            }
            .main-content.o-mne p.client-description {
                margin-bottom: 0.3em;
                font-size: 90%;
                font-style: italic;
            }

            .billing-details {
               line-height: 0.8rem;
            }

        </style>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKFND3G" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="container-fluid menu-wrapper-outer">
            <div class="container menu-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light menu">
                    <h1 class="navbar-brand">
                        <a href="/">
                            <strong>Iva Hujerová</strong>
                        </a>
                    </h1>

                    <input type="checkbox" id="navbar-toggle-cbox">

                    <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <div class="navbar-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </div>
                    </label>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ml-3 mr-3 {% if page.url == '/' %}active{% endif %}">
                                <a class="nav-link" href="/">Hlavní stránka</a>
                            </li>
                            <li class="nav-item ml-3 mr-3 {% if page.url == '/o-mne/' %}active{% endif %}">
                                <a class="nav-link" href="/o-mne/">O mně</a>
                            </li>
                            <li class="nav-item ml-3 mr-3 {% if '/blog' in page.url %}active{% endif %}">
                                <a class="nav-link" href="/blog/">Blog</a>
                            </li>
                            <li class="nav-item ml-3 mr-3 {% if page.url == '/kontakt/' %}active{% endif %}">
                                <a class="nav-link" href="/kontakt/">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        {% if '/blog' not in page.url %}
        <div class="container-fluid hero-banner">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-6 col-lg-8 col-md-12 text-center mt-5 mb-5">
                        {% if page.url == '/' %}
                            <h2>Specialistka na online marketing</h2>

                            <p class="hero-claim">pro firmy i živnostníky</p>

                            <a href="/o-mne" class="d-none d-sm-none d-md-none d-lg-inline-block btn btn-primary">Více o
                                mně</a>
                        {% endif %}
                        {% if page.url == '/o-mne/' %}
                            <h2 class="text-left">Specialistka na online marketing</h2>

                            <p class="hero-claim  text-left">
                                Během spolupráce kladu důraz na stanovení cílů projektu a jejich vyhodnocování.
                                Navrhuji co nejefektivnější řešení vzhledem k dostupným prostředkům klienta.
                            </p>
                        {% endif %}
                        {% if page.url == '/kontakt/' %}
                            <h2 class="text-left mb-5">Ing. Iva Hujerová <small>(Kusáková)</small></h2>

                            <p class="hero-claim text-left">
                                <strong>E-mail:</strong>
                                <a class="contact-email" href="mailto:iva@ivahu.cz">iva@ivahu.cz</a>
                            </p>
                            <p class="hero-claim text-left">
                                <strong>Telefon:</strong>
                                <a class="contact-phone" href="tel:+420792362659">+420 792 362 659</a>
                            </p>

                        {% endif %}

                    </div>

                    <div class="col-lg-3 col-md-12 text-center">
                        <img src="/assets/foto.png" class="mt-3"/>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container main-content {{ page.url | replace('/', '') }}">

            {{ content | safe }}

        </div>

        {# Blogposts
        {% if page.url != '/blog/' %}
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2>Nově na blogu</h2>
                        </div>
                    </div>
                    <div class="row">
                        {%- for blogpost in collections.blogpost | reverse | slicejs(3) -%}
                            <div class="partnership-block-wrapper col-sm-12 col-md-4 col-lg-4 ">
                                <div class="partnership-block">
                                    <a href="{{ blogpost.url }}">
                                        {{ blogpost.data.title -}}
                                    </a>
                                    <small>{{ blogpost.date | dateformat }}</small>
                                    {% if blogpost.data.perex %}
                                        <p>{{ blogpost.data.perex }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        {% endif %}
        #}

        <footer class="container-fluid hero-banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h4>IvaHu.cz</h4>
                        <ul>
                            <li><a class="{% if page.url == '/' %}active{% endif %}" href="/">Hlavní stránka</a></li>
                            <li><a class="{% if page.url == '/o-mne/' %}active{% endif %}" href="/o-mne/">O mně</a></li>
                            <li><a class="{% if '/blog' in page.url %}active{% endif %}" href="/blog/">Blog</a></li>
                            <li><a class="{% if page.url == '/kontakt/' %}active{% endif %}" href="/kontakt/">Kontakt</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h4>Nově na blogu</h4>
                        <ul>
                            {%- for blogpost in collections.blogpost | reverse | slicejs(5) -%}
                                <li>
                                    <a href="{{ blogpost.url }}">
                                        {{ blogpost.data.title -}}
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h4>Kontakt</h4>
                        <ul>
                            <li>
                                <strong>E-mail:</strong>
                                <a class="contact-email" href="mailto:iva@ivahu.cz">iva@ivahu.cz</a>
                            </li>
                            <li>
                                <strong>Telefon:</strong>
                                <a class="contact-phone" href="tel:+420792362659">+420 792 362 659</a>
                            </li>
                            <li><a href="/kontakt/">Více kontaktů</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
