---
tags: ['sitemap']
---

<h2>Blog</h2>

<ul>
    {%- for blogpost in collections.blogpost | reverse -%}
        <li>
            <a href="{{ blogpost.url }}">
                {{ blogpost.data.title }}
            </a>
            <small>{{ blogpost.date | dateformat }}</small>
        </li>
    {%- endfor -%}
</ul>
